<div class="navbar sticky">
  <div class="navbar-buttons">
    <%= link_to watches_path, :action => 'go' do %>
      <div class="nav-btn">
        <div class="nav-btn-img">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="nav-btn-title">
          <p>Search</p>
        </div>
      </div>
    <% end %>

    <%= link_to my_watches_path, :action => 'go' do %>
      <div class="nav-btn">
        <div class="nav-btn-img" id="svg">
         <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="7"/>
          <polyline points="12 9 12 12 13.5 13.5"/>
          <path d="M16.51 17.35l-.35 3.83a2 2 0 01-2 1.82H9.83a2 2 0 01-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 019.83 1h4.35a2 2 0 012 1.82l.35 3.83"/>
        </svg>
        </div>
        <div class="nav-btn-title">
          <p>Watches</p>
        </div>
      </div>
    <% end %>

    <%= link_to "#", :action => 'go' do %>
      <div class="nav-btn">
        <div class="nav-btn-img">
          <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="nav-btn-title">
          <p>User</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
