<div class="navbar sticky">
  <div class="navbar-buttons">
    <%= link_to root_path, :action => 'go' do %>
      <div class="nav-btn
      <% if (current_page?("/") || current_page?("/watches")) && (controller.controller_name == "watches" || controller.controller_name == "pages") %> active <% end %>">
        <div class="nav-btn-img">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="nav-btn-title">
          <p>Search</p>
        </div>
      </div>
    <% end %>

    <%= link_to my_watches_path, :action => 'go' do %>
      <div class="nav-btn
      <% if current_page?("/my-watches") && controller.controller_name == "pages" %> active <% end %>">
        <div class="nav-btn-img" id="svg">
         <i class="fa-solid fa-clock"></i>
        </div>
        <div class="nav-btn-title">
          <p>Watches</p>
        </div>
      </div>
    <% end %>

    <%= link_to new_watch_path, :action => 'go' do %>
      <div class="nav-btn
      <% if current_page?("/watches/new") && controller.controller_name == "watches" %> active <% end %>">
        <div class="nav-btn-img">
          <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="nav-btn-title">
          <p>Add</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
