.delete-watch {
  align-items: center;
  padding: 16px;
}

.edit-watch {
  align-items: center;
  padding: 16px;
}

.review-watch {
  align-items: center;
  padding: 16px;
}

.btn-search {
  background-color: #323232!important;
  border-color: #ffffff!important;
  color: white!important;
}

.btn-delete {
  background-color: #cb2b35!important;
  border-color: #ffffff!important;
  color: white!important;
}
