.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards a {
  text-decoration: none;
}

.card-trip > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 14px;
  font-weight: 200px;
  margin: 0;
}

.card-trip h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-product-infos h2 {
  font-size: 14px;
  font-weight: 200px;
  margin: 0;
}

.card-product-infos h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product-infos p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  text-align: center;
}

@media (min-width: 100px) and (max-width: 575px) {
  .card-trip > img {
    height: 120px;
  }
}
