.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

// Importé depuis l'UI KIT du Wagon
.card-category {
  background-size: cover;
  background-position: 45% 60%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-item {
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: black;
    }
  }
}

// Importé depuis l'UI KIT du Wagon
.card-product {
  overflow: hidden;
  height: 120px;
  margin-top: 20px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;

  &:hover {
    box-shadow: 2px 2px 15px rgba($color: black, $alpha: 0.2);
    transition: 0.3s;
  }
}

// Importé depuis l'UI KIT du Wagon
.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

// Importé depuis l'UI KIT du Wagon
.card-product h2 {
  font-size: 16px;
  font-weight: 100px;
  margin: 0;
}

// Importé depuis l'UI KIT du Wagon
.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

// Importé depuis l'UI KIT du Wagon
.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 100%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Cards show/watch (Sam)

.card-watch {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 18px;
}
.card-watch-button {
  display: flex;
  width: 100%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 18px;
  justify-content: space-between;
  border-radius: 10px;
}



.card-watch-button p {
  text-align: center;
  margin: 0px !important;
  padding-top: 24px;
}

.card-watch-infos-details {
  justify-content: space-between;
  display: flex;
  margin: 10px;
  }

.card-watch-infos {
  flex-direction: column;
  display: flex;
  /* flex: 0 0 50%; */
  justify-content: left;
}

.card-watch-infos p {
 margin-top: 18px;
}

.card-watch-details {
  flex-direction: column;
  display: flex;
  text-align: right;
  /* flex: 0 0 50%; */
  // justify-content: flex-end;
}

.card-watch > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-watch h2 {
  font-size: 16px;
  font-weight: 100px;
  margin: 0;
}

.card-watch h3 {
  font-weight: bold;
}

.card-watch p {
  font-size: 12px;
  opacity: .7;
}

.card-form {
  padding: 16px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .card-watch > img {
    height: 120px;
  }
}

.cards a {
  text-decoration: none;
  color: black;
}

.card-price {
  h4 {
    text-align: end;
  }
}
