.navbar {
  height: 60px;
  background-color: white;
  padding: 0px !important;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.188);
}

.sticky {
  position: fixed !important;
  bottom: 0;
  width: 100%;
}

.nav-btn {
  text-align: center;
}

.navbar-buttons {
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  a {
    text-decoration: none;
  }
}
.nav-btn-title p {
  margin: 0;
  color: rgb(50, 50, 50);
  font-size: 12px;
}

.nav-btn-img {
  color: rgb(50, 50, 50);
  font-size: 24px;
}

#svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  min-height: 36px;
}
